/* .react-player__shadow {
  background: url("/img/divers/bi_player-circle.png") !important;
  background-position: center !important;
  background-size: cover !important;
  border-radius: none;
  width: 64px;
  height: 64px;
  position: absolute;
  /* display: flex;
  align-items: center;
  justify-content: center;
} */
