#before-after .AB-invisible {
  display: none;
}
#before-after .AB-invisible div {
  transition: all 0.5s ease;
}

#before-after .visible .AB-invisible {
  display: block;
  background: var(--encre-de-chine);
}

#before-after .visible .AB-invisible .txt {
  color: var(--blanc);
}

#before-after .AB-visible.visible {
  width: 100%;
}

#before-after .visible .slider,
#before-after .visible .slider-text,
#before-after .slider-text-alt {
  display: none;
}

#before-after .slider,
#before-after .visible .slider-text-alt {
  display: block;
}

@keyframes animate-scale {
  0% {
    transform: translateX(0) scaleX(1);
  }
  25% {
    transform: translateX(-5px) scaleX(1.5);
  }
  50% {
    transform: translateX(0) scaleX(1);
  }
  75% {
    transform: translateX(5px) scaleX(1.5);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}

.animate-scale {
  animation: animate-scale 3s linear infinite;
}
